body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    color: #00796b;
    margin: 0;
    padding: 0;
}

.screen {
    padding: 20px;
}

#name-options button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00796b;
}

.hidden {
    display: none;
}
